<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/navigation.css}" />
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/plugins/slidemenu/slidemenu.css}" />
    <style>
        .user_info_list{
            list-style: none;
            color: rgba(0, 0, 0, 0.9);
            font-size: 14px;
            border-top:solid 1px rgba(255, 255, 255, 0.9);
        }

        .user_info_list li{
            height:32px;
            line-height: 32px;
        }
    </style>
</head>
<body>
<div class="flex-container">
<div th:replace="fragments/layout::navigation"></div>
<div th:replace="fragments/layout::menu"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Welcome <span th:text="${userInfo.name}"/> !</h2>
            <h1>User Information</h1>
            <br/>
            <nav >
                <ul class="user_info_list">
                    <li>
                        <div class="col-lg-3">Login Status: </div>
                        <div class="col-lg-8"><span th:text="${userInfo.loginStatus}"/></div>
                    </li>
                    <li>
                        <div class="col-lg-3">Account Status: </div>
                        <div class="col-lg-8"><span th:text="${userInfo.accountStatus}"/></div>
                    </li>
                    <li>
                        <div class="col-lg-3">Role: </div>
                        <div class="col-lg-8"><span th:each="role : ${userInfo.roles}" th:text="${role.roleName}"/>,</div>
                    </li>
                    <li>
                        <div class="col-lg-3">Create Man: </div>
                        <div class="col-lg-8"><span th:text="${userInfo.createBy}"/></div>
                    </li>
                    <li>
                        <div class="col-lg-3">Create Date: </div>
                        <div class="col-lg-8"><span th:text="${userInfo.createDate}"/></div>
                    </li>
                    <li>
                        <div class="col-lg-3">Update Man: </div>
                        <div class="col-lg-8"><span th:text="${userInfo.lastModifiedBy}"/></div>
                    </li>
                    <li>
                        <div class="col-lg-3">Update Date: </div>
                        <div class="col-lg-8"><span th:text="${#dates.format(userInfo.lastModifiedDate,'yyyy-MM-dd HH:mm:ss')}"/></div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</div>
</div>
<span th:replace="fragments/layout::commonLoadJs"></span>
<script th:src="@{/plugins/slidemenu/jquery-slidemenu.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#leftSlideMenu").slideMenu({url:'menu/load'});
    });
</script>
</body>
</html>