<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>待办流程 - 审核</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/navigation.css}" />
    <link th:href="@{/plugins/datepicker/css/bootstrap-datetimepicker.css}" rel="stylesheet"/>
</head>
<body>
    <div th:replace="fragments/navigation::navigation"></div>

    <div class="container">
        <div class="row">
            <form class="form-horizontal col-sm-5" action="#" th:action="@{/taxPayment/processTask/audit}" method="post" th:object="${register}" enctype="multipart/form-data">
                <input type="hidden" name="taskId" th:value="${taskId}" />
                <div class="form-group">
                    <label for="applier">申请人</label>
                    <input type="text" class="form-control" name="applier" id="applier" placeholder="申请人" th:value="*{applier}"/>
                </div>
                <div class="form-group">
                    <label for="applyDate">申请日期</label>
                    <div class="input-group date form_date col-sm-5" data-date="" data-date-format="yyyy-MM-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input th:type="text" class="form-control" id="applyDate" placeholder="申请日期" readonly="true" name="applyDate" th:value="*{applyDate}"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="station">申请人岗位</label>
                    <input type="text" class="form-control" name="station" id="station" placeholder="申请人岗位" th:value="*{station}"/>
                </div>
                <div class="form-group">
                    <label for="organization">申请人机构</label>
                    <input type="text" class="form-control" name="organization" id="organization" placeholder="申请人机构" th:value="*{organization}"/>
                </div>
                <div class="form-group">
                    <label for="reportDate">申报日期</label>
                    <div class="input-group date form_date col-sm-5" data-date="" data-date-format="yyyy-MM-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input th:type="text" class="form-control" id="reportDate" placeholder="申报日期" readonly="true" name="reportDate" th:value="*{reportDate}"/>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="payerCode">扣缴义务人识别号</label>
                    <input type="text" class="form-control" name="payerCode" id="payerCode" placeholder="扣缴义务人识别号" th:value="*{payerCode}"/>
                </div>
                <div class="form-group">
                    <label for="payerName">扣缴义务人名称</label>
                    <input type="text" class="form-control" name="payerName" id="payerName" placeholder="扣缴义务人名称" th:value="*{payerName}"/>
                </div>
                <table class="table">
                    <tr>
                        <th>纳税人名称</th>
                        <th>纳税人识别号</th>
                        <th>税种</th>
                        <th>税目</th>
                        <th>税款所属期从</th>
                        <th>税款所属期到</th>
                        <th>应扣缴税款</th>
                        <th>实扣缴税款</th>
                        <th>实解缴税款</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" />
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                        <td>
                            <input type="text" />
                        </td>
                    </tr>
                </table>
                <div class="form-group">
                    <label for="inputFile">附件上传</label>
                    <input type="file" id="inputFile" name="file"/>
                </div>
                <div class="form-group">
                    <label>批注</label>
                    <textarea name="comment"></textarea>
                </div>
                <button type="submit" class="btn btn-default" name="result" value="true">同意</button>
                <button type="submit" class="btn btn-default" name="result" value="false">拒绝</button>
            </form>
        </div>
        <div class="row">
            <label>审批记录</label>
            <table class="table">
                <tr>
                    <td>节点信息</td>
                    <td>动作</td>
                    <td>批注</td>
                </tr>
                <th:block th:each="history : ${auditHistory}">
                    <tr>
                        <td th:text="${history.operator}"></td>
                        <td th:text="${history.taskName}"></td>
                        <td th:text="${history.comment}"></td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>

    <script th:src="@{/plugins/datepicker/js/bootstrap-datetimepicker.min.js}"></script>
    <script>
        $(".form_date").datetimepicker({
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0,
            format:'mm/dd/yyyy'
        })
    </script>
</body>
</html>